local.file_match "csharp_demo_files" {
  path_targets = [{ __path__ = "C:\\GrafanaLogs\\csharp-demo*.log", job = "csharp-demo", host = "hostName", method = "file-based" }]
  sync_period  = "5s"
}

loki.source.file "csharp_demo_file" {
  targets    = local.file_match.csharp_demo_files.targets
  forward_to = [loki.write.cloud.receiver]
}

loki.source.api "csharp_demo_http" {
  http {
    listen_address = "0.0.0.0"
    listen_port    = 1337
  }
  
  forward_to = [loki.write.cloud.receiver]
}

loki.source.windowsevent "windows_events" {
  forward_to             = [
	loki.write.cloud.receiver,
  ]
  exclude_event_data = true
  eventlog_name          = "Application"
  use_incoming_timestamp = true
  labels                 = {
    job   = "windows-events",
    host  = "hostName",
    source = "event-viewer",
  }
  xpath_query   = "*[System[Provider[@Name='LokiDemoApp']]]"
}

loki.write "cloud" {
  endpoint {
    url = "https://logs-prod-025.grafana.net/loki/api/v1/push"
    basic_auth {
      username = "username"
      password = "token från när du laddade ner alloy"
    }
  }
}
