local.file_match "csharp_demo_files" {
  path_targets = [{ __path__ = "C:\\GrafanaLogs\\csharp-demo*.jsonl", job = "csharp-demo", host = "hostName", method = "file-based", app = "LokiDemo" }]
  sync_period  = "5s"
}

loki.source.file "csharp_demo_file" {
  targets    = local.file_match.csharp_demo_files.targets
  forward_to = [loki.process.setLevelAsLabel.receiver]
}

loki.source.api "csharp_demo_http" {
  http {
    listen_address = "0.0.0.0"
    listen_port    = 1337
  }
  
  forward_to = [loki.write.cloud.receiver]
}

loki.process "setLevelAsLabel" {
  forward_to             = [
	loki.write.cloud.receiver,
  ]
  
  stage.json {expressions = {"LevelAlloyVar" = "level"}}

  stage.labels {
    values = {
      "level" = "LevelAlloyVar",
    }
  }
}

loki.source.windowsevent "windows_events" {
  forward_to = [
    loki.process.parse_eventlog.receiver,
  ]
  exclude_event_data = false
  eventlog_name          = "Application"
  use_incoming_timestamp = true
  labels                 = {
    job   = "windows-events",
    host  = "hostName",
  }
  xpath_query   = "*[System[Provider[@Name='LokiDemoApp']]]"
}

loki.process "parse_eventlog" {
  forward_to             = [
	loki.write.cloud.receiver,
  ]
  
  stage.label_drop {
    values = ["channel", "computer"]
	}
	
  stage.json {
    expressions = {
      "level"     = "level",
      "levelText" = "levelText",
    }
  }
  
  stage.labels {
    values = {
      "level"         = "levelText",
    }
  }
}

loki.write "cloud" {
  endpoint {
    url = "https://logs-prod-025.grafana.net/loki/api/v1/push"
    basic_auth {
      username = "username"
      password = "token från när du laddade ner alloy"
    }
  }
}
